<div class="navigation">
  <ul class="navigation__list list" #menu>
    <li class="list__item item" routerLinkActive="active">
      <b></b>
      <b></b>
      <button mat-button
              class="item__button button"
              routerLink="/home">
        <mat-icon class="button__icon">home</mat-icon>
        <span class="button__title">Home</span>
      </button>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <b></b>
      <b></b>
      <button mat-button
              class="item__button button"
              routerLink="/tattoo">
        <mat-icon class="button__icon svg" svgIcon="tattoo"></mat-icon>
        <span class="button__title">Tattoo</span>
      </button>
    </li>
    <li class="list__item item" routerLinkActive="active">
      <b></b>
      <b></b>
      <button mat-button
              class="item__button button"
              routerLink="/piercing">
        <mat-icon class="button__icon svg" svgIcon="piercing"></mat-icon>
        <span class="button__title">Piercing</span>
      </button>
    </li>
  </ul>
</div>
